.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    gap: 12px;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    background-color: rgb(15, 15, 51);
}

.hero>h1{
    font-size: 10vw;
    color: rgba(240, 248, 255, 0.848);
    letter-spacing: 0.03em;
    word-spacing: 0.03em;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.941);
}
.hero>h2{
    font-size: 3rem;
    color: rgba(240, 248, 255, 0.848);
    letter-spacing: 0.03em;
    word-spacing: 0.03em;
}

.hero>div{
    min-height: 50px;
}
.hero>div>span{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(16, 235, 255);
}
.hero>a>button{
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    letter-spacing: 0.03em;
    margin-top: 20px;
    font-size: 1.3rem;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.41);
    background: linear-gradient(120deg, rgb(20, 56, 167),  rgb(40, 121, 187));
}

.hero>a>button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.hero>a>p{
    color: rgb(78, 91, 190);
    font-size: 1.2rem;
    margin-top: 5px;
    border-bottom: 1px solid rgb(78, 91, 190);
}
.blue-shadow{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: aqua;
    left: 100%;
    border-radius: 50%;
    box-shadow: -50px 20px 200px rgba(0, 255, 255, 0.331);
}
.green-shadow{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgb(191, 109, 238);
    border-radius: 50%;
    right: 100%;
    box-shadow: 50px 20px 200px 80px rgba(179, 33, 212, 0.227);
}

@media screen and (max-width: 750px) {
    .hero>h1{
        font-size: 19vw;
        text-align: center;
        padding: 0 20px;
    }
    .hero>h2{
        font-size: 7vw;
        margin-top: 20px;
    }
    .hero>a>p{
        margin-bottom: 30px;
    }
}
