.projects-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    gap: 50px;
    background-color: #fff;
    
}

.projects-page>h1{
    color: rgba(15, 15, 51, 0.868);
    font-size: 4vw;
    padding-bottom: 3px;
    width: fit-content;
    border-bottom: 3px solid rgba(19, 19, 71, 0.868);

}
.projects-page>h1>span{
    background: linear-gradient(to right,#78ff86, #76f4fb); 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
}
.projects{
    width: 1000px;
    overflow: hidden;
    overflow-x: auto;
}

.projects-cont{
    gap: 100px;
    width: fit-content;
    display: flex;
    height: fit-content;
}

.projects::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
  }
  
  .projects::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.084);
  }
  
  .projects::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(19, 15, 92, 0.646) 60%, rgba(0, 0, 0, 0) , rgba(23, 22, 97, 0.515));
    border-radius: 5px; /* Add rounded corners */
  }


@media screen and (max-width: 1150px) {
    .projects{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    
    .projects-page>h1{
        font-size: 9vw;
    }
}

@media screen and (max-width: 750px) {
    .projects{
        width: 90%;
        gap: 30px;
    }
    .projects-cont{
        padding: 0 20px;
    }
}
