.card2{
    height: 280px;
    margin-bottom: 10px;
    border-radius: 12px;
    width: 210px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.card2-comp{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 4px;
    padding: 40px 30px;
    border-radius: 12px;
    background: linear-gradient(45deg, rgb(34, 171, 96),  rgb(156, 248, 182))
}

.card2-comp>span{
    font-size: 1.6rem;
}

.ratings{
    display: flex;
    gap: 10px;
}
.ratings>span{
    font-size: 1.2rem;
}


@keyframes progesss {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
} 



@media screen and (max-width: 550px) {
    .card2{
        width: 95%;
        height: 200px;
        min-width: 140px;
    }
    .card2-comp>span{
        font-size: 1.3rem;
    }
    
    .ratings{
        display: flex;
        gap: 10px;
    }
    .ratings>span{
        font-size: 1rem;
    }
    
}