.card1>img{
    width: 45vw;
    background-size: cover;
    box-shadow: 0 1px 5px grey;
}

.card1>p{
    font-size: 1.5rem;
}
.card1>p>span{
    font-size: 1.3rem;
    color: rgb(123, 123, 123);
}

@media screen and (max-width: 570px) {
    .card1>p{
        font-size: 5vw;
    }
    .card1>p>span{
        font-size: 4vw;
    }
}